<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fala Aí 🎙️</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Fala Aí 🎙️</h1>
    <textarea id="texto" placeholder="Digite seu texto..."></textarea>
    <button onclick="gerarVoz()">▶️ Ouvir</button>
    <audio id="audio" controls></audio>
    <button id="bbb" onclick="BaixarAudio()">⬇️ Baixar MP3</button>
    <footer>© KaueVirgolino</footer>
  </div>

  <script src="{{ url_for('static', filename='Scripts.js') }}"></script>
</body>
</html>
